.game-container {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
        "a1 b1 c1"
        "a2 b2 c2"
        "a3 b3 c3";

    align-items: center;
    justify-content: center;
    gap: 30px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 45%;
    border: 2px solid black;

    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.dot{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000DFF;
}

.cross {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross :first-child, .cross :last-child {
    position: absolute;
    height: 80px;
    width: 25px;
    background-color: red;
    border-radius: 50px;
    border: 20px solid FF0000;   
}

.cross :first-child{
    transform: rotate(135deg);    

}

.cross :last-child{
    transform: rotate(-135deg);    
}

.player-one-turn {
    background: linear-gradient(180deg, #FF0000 0%, black 100%) !important

}

.player-two-turn {
    background: linear-gradient(180deg, #000DFF 0%, black 100%) !important
}