input {
    width: 395px;
    height: 60px;

    font-size: 36px;
    font-weight: 200;
    font-family: "Inter", sans-serif;
    
    border-radius: 25px;
    border: 3px solid black;
    background-color: white;

    display: flex;
    padding-left: 15px;

    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 2px 4px 5px rgba(0, 0, 0, 0.25) inset;
}

button {
    width: 200px;
    height: 75px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px -6px 1px 0px rgba(0, 0, 0, 0.25) inset;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
}

.start-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}