body {
    background-color: #fbfddb;
    color: #ebb41c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px auto;
}

h1 {
    font-size: 32px;
    font-weight: 701;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

 input {
    width: 350px;
    height: 60px;
    border-radius: 20px;
    box-shadow: inset 0px 5px 5px rgb(194, 194, 194);
    border-width: 5px;
    border-style: solid;
    border-color: #ebb41c;
    background-color: white;
    margin: 20px;
    align-items: stretch;
    display: flex;
    color: gray;
    font-size: 20px;
} 

button {
    width: 200px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(194, 194, 194);
    border-width: 4px;
    border-style: solid;
    border-color: #ebb41c;
    background-color: #ffc300;
    margin: 20px;
    align-items: stretch;
    display: flex;
    color: #ebffaa;
    font-size: 20px;
}

.input-name {
    margin-top: 35px;
    width: 157px;
    text-align: left;
}

.input-block {
    display: flex;
    justify-content: center;
    width: 650px;
    height: 90px;
    margin: 0 auto;
}