body {
    background-color: #fbfddb;
    color: #ebb41c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px auto;
}

h1 {
    font-size: 32px;
    font-weight: 701;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

 input {
    width: 350px;
    height: 60px;
    border-radius: 20px;
    box-shadow: inset 0px 5px 5px rgb(194, 194, 194);
    border-width: 5px;
    border-style: solid;
    border-color: #ebb41c;
    background-color: white;
    /* margin: 20px; */
    margin-top: 20px;
    align-items: stretch;
    display: flex;
    color: #eb6c1c;
    font-size: 25px;

    transition: border-color 0.3s ease;
} 

input::placeholder {
    color: lightgray;
}

input:hover {

    border-color: #eb6c1c;
    transition: border-color 0.3s ease;
}

input:active {
    border-color: #ebb41c;
    transition: border-color 0.3s ease;
}

.input-name {
    margin-top: 35px;
    width: 157px;
    text-align: left;
}

.input-block {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 90px;
    margin: 0 auto;
    gap: 10px;
}

button {
    width: 200px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 0px 5px 1px #ebb41c;
    border-width: 2px;
    border-style: solid;
    border-color: #ebb41c;
    background-color: #ffc300;
    margin: 20px;
    color: #ebffaa;
    font-size: 30px;
    position: absolute;
    
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    transition: background-color 0.3s ease, 
                border-color 0.3s ease, 
                box-shadow 0.3s ease;
}

button:hover {
    box-shadow: 0px 5px 1px #eb6c1c;
    border-color: #eb6c1c;
    background-color: #ff8000;

    transition: background-color 0.3s ease, 
                border-color 0.3s ease, 
                box-shadow 0.1s ease;
}

button:active {
    box-shadow: 0px 0px 0px;
    border-color: #eb6c1c;
    border-width: 5px;
    background-color: #ff8000;

    transition: background-color 0.3s ease, 
                border-color 0.3s ease;
}

.button-container {
    width: 550px;
    height: 200px;
    position: relative;
    margin: 0 auto;
}