.add-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input-block h2 {
    font-size: 32px;
    font-weight: 500;
    height: 100%;
    line-height: 50px;
}

 .input-block input {
    padding-left: 10px;
    width: 400px;
    height: 46px;
    
    border: 2px solid #72AF0E;
    border-radius: 50px;
    font-size: 32px;
    font-style: italic;
    font-weight: 100;
    color: #72AF0E;

    transition: border-color 0.3s ease;
} 

.input-block input::placeholder {
    color: lightgray;
}
.input-name {
    width: 157px;
    text-align: right;
}

.input-block {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 50px;
    margin: 0 auto;
    gap: 10px;
}