body {
    background: linear-gradient(90deg,rgba(247, 255, 205, 1) 0%, rgba(191, 255, 142, 1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px auto;
    height: 100vh;
    color: #72AF0E;
}

h1 {
    position: relative;
    margin-top: 0;
    font-size: 48px;
    font-weight: 1000;
}

h3{
    font-size: 32px;
    align-content: center;
    text-align: center;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    gap: 125px;
}

.hidden {
    display: none !important;
}

button {
    width: 8vh;
    height: 40vh;
    border: none;
    font-size: 5vh;
    /* color: blue; */
    /* background: #8DB5FF; */
    border-radius: 100px;

    transition: background-color 0.1s ease;
}



/* button:hover {
    background-color: #73a4ff;

    transition: background-color 0.1s ease;
} */

/* button:active {
    background-color: #5490ff;

    transition: background-color 0.1s ease;
} */


