body {
    background: linear-gradient(360deg, #001B86 0%, #329BF4 50.48%, #AEE4FF 100%);
    color: #63b4ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px auto;
    height: 100vh;
}

h1, h2 {
    position: relative;
    margin-top: 0;
    font-size: 48px;
    font-weight: 1000;
}

h3{
    font-size: 25px;
    align-content: center;
    text-align: center;
    margin-top: 40px;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    gap: 5vw;
}

.rectangle {
    width: 80vw;
    height: 40vh;
    margin-top: 30vh;
    border-radius: 75px;

    background: linear-gradient(180deg, rgba(217, 239, 254, 1) 10%, rgba(183, 199, 230, 1) 100%);
    opacity: 1;

    display: flex;
    justify-content: center;
}

img{
    width: 35vh;
    height: 35vh;
    border-radius: 20%;
    margin-top: 2.5vh;
    opacity: 1;

}

.text-container {
    width: 30vh;
    height: 35vh;
    margin-top: 2.5vh;
    opacity: 1;
}

.hidden {
    display: none !important;
}

.left-button
{
    position: absolute;
    left: 10vw;
}
.right-button{
    position: absolute;
    right: 10vw;
}

button {
    width: 8vh;
    height: 40vh;
    border: none;
    font-size: 5vh;
    /* color: blue; */
    /* background: #8DB5FF; */
    border-radius: 100px;

    transition: background-color 0.1s ease;
}



/* button:hover {
    background-color: #73a4ff;

    transition: background-color 0.1s ease;
} */

/* button:active {
    background-color: #5490ff;

    transition: background-color 0.1s ease;
} */


