.toggle-input {
    position: relative;
    width: 224px;
    height: 58px;
    border: solid #72AF0E;
    border-radius: 50px;
    border-width: 4px;

    background-color: #80BE51;
    display: flex;

    box-shadow: 0px 4px 4px #878787ad;
    
    font-size: 20px;
    margin-top: 45px;

    justify-content: center;
    align-items: center;

    transition: border-color 0.3s ease;
}

.toggle-input .selected-block {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #EEFF69;
    display: inline-block; 
    opacity: 0;
    transition: opacity 0.2s ease;
}


.toggle-input p {
    z-index: 2;
    flex: 1;
    font-size: 32px;
    font-weight: 400;
    margin-top: 28px;
    color: #EEFF69;
    
}
.toggle-input input:checked + .selected-block {
    opacity: 1;
}

.toggle-input input:checked ~ p {
    color: #80BE51;    
}