body {
    --background-and-border: #edeff0;
    background-color: var(--background-and-border);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 15px 30px;
    gap: 20px;
    width: 325px; 
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 6px 0px rgba(34, 60, 80, 0.2);
}

h1 {
    font-size: 16px;
}

.container > p {
    background-color: #f9fafb;
    font-size: 15px;
    color: #758491;
    padding: 20px 0px 20px 15px;
    line-height: 100%;
    text-align: left;
    border: none;
    border-radius: 10px;
}

.hidden {
    display: none !important
}

