.number-input {
    width: 350px;
    height: 50px;
    border-radius: 20px;
    border-width: 4px;
    border-style: solid;
    border-color: #63b4ff;
    background-color: white;
    /* margin: 20px; */
    margin-top: 28px;
    align-items: stretch;
    display: flex;
    font-size: 20px;

    transition: border-color 0.3s ease;
} 

.number-input::placeholder {
    color: lightgray;
}

.number-input:hover {
    border-color: #006fd7;
    transition: border-color 0.3s ease;
}

.number-input:active {
    border-color: #bde6ff;
    transition: border-color 0.1s ease;
}

.input-name {
    margin-top: 35px;
    flex: 1;
    text-align: left;
}