.inputContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0;
    padding: 0;
    max-width: 81%;
}

.input {
    height: 5vh;
    border-style: solid;
    border-radius: 0.75vh;
    padding-left: 0.5vh;
    font-size: 2.5vh;
    color: white;
    background-color: #222222;
}

.inputContainer > h1 {
    padding-left: 2px;
    text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     -webkit-appearance: none;
      margin: 0;
 }
 input[type="number"] {
    -moz-appearance: textfield;
      margin: 0;
}