.inputContainer {
    display:flex;
    background: white;
    width: 50vh;
    height: 8vh;
    border-radius: 2vh;
    box-shadow: -0.025vh 0.2vh 1vh 0.3vh rgba(70, 70, 70, 0.144);
    padding: 2vh;
    flex-direction: column;
    align-items: start;
    border: solid;
    border-width: 0.18vh;
    border-color: rgb(230, 230, 230);    
}

.rubContainer {
    flex-direction: row;
    justify-content: center;
    gap: 1vh;
    align-items: center;
    display:flex;
    height: 100%;
    width: 100%;
}