body {
    background-color: #dff9ff;
    color: #63b4ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px auto;
}

h1, h2 {
    font-size: 32px;
    font-weight: 500;
}

h3{
    font-size: 16px;
    align-content: center;
    text-align: center;
    margin-top: 40px;
    font-weight: 400;
}

.input-block {
    display: flex;
    justify-content: center;
    /* width: fit-content; */
    width: 527px;
    height: 90px;
    margin: 0 auto;
    gap: 10px;
}

button {
    width: 300px;
    outline: none;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    background-color: #63b4ff;
    color: white;
    font-size: 28px;
    
    margin: 25px 0px 0px 0px;
    text-align: center;

    transition: background-color 0.1s ease;
}

button:hover {
    background-color: #006fd7;
    transition: background-color 0.1s ease; 
}

button:active {
    background-color: #bde6ff;
    transition: background-color 0.1s ease;
}




.hidden {
    display: none !important;
}