.card {
    width: 30vw;
    height: 28vw;
    background-color: #f3f4f6;
    border-radius: 15px;
    border: 1px solid #d8dadd;
    margin-top: 1vh;
    /* margin: 10px; */
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.namePlate {
    width: 100%;
    background-color: white;
    height: 30%;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    padding-left: 1vw;
}

.image {
    background-color: #f3f4f6;
    outline: none;
    border: none;
    flex-grow: 1;
    border-radius: 15px 15px 0 0;
}

.namePlate > h1 {
    text-align: left;
}

.likeButton {
    position: absolute;
    right: 1vw;
    top: 1vw;
    width: 3vw;
    height: 3vw;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.likeButton > img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
}
