.footer {
    background-color: #f3f4f6;
    width: 100vw;
    height: 45px;
    left: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    font-weight: 400;
}
