.header {
    background: linear-gradient(90deg,rgba(255, 0, 0, 0.8) 0%, rgba(0, 200, 0, 0.7) 50%, rgba(0, 0, 255, 0.8) 100%);
    width: 100vw;
    height: 60px;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 5px;
}