.inputContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.input {
    height: 45px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    padding-left: 15px;
    font-size: 18px;
}

.inputContainer > h1 {
    padding-left: 2px;
    text-align: left;
}