@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
}

body {
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #3a3a3a;
}
