.button {
    border: none;
    width: 125px;
    height: 45px;
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: filter 0.1s ease;
}

.button > img {
    width: 15px;
    height: 15px;
}

.button:hover {
    filter: brightness(1.2);
}

.button:active {
    filter: brightness(2);
}