.header {
    background-color: #3737ff;
    width: 100vw;
    height: 60px;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 5px;
}